<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/6f90f327-f77c-4a02-92b4-7958b92e2dfc/resourceGroups/ZiePie/providers/Microsoft.ContainerRegistry/registries/ziepie</ResourceId>
    <ResourceName>ziepie</ResourceName>
    <ResourceGroup>ZiePie</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://ziepie.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b0851e95-3cfd-4eec-bc8e-2bb81e762a1e</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>